<h1>Routes</h1>

<table class="table">
  <thead>
  <tr>
    <th>Starting_point</th>
    <th>End_Point</th>
    <th>Distance</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.starting_point %></td>
        <td><%= route.end_point %></td>
        <td><%= route.distance %></td>
        <td><%= route.date.strftime("%d.%m.%y") %></td>
        <td><%= link_to 'Show', route_path(route) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Monthly stats by day', stats_path, class: 'button' %>
