<h3>Add new route</h3>

<%= form_with scope: :route, url: routes_path, local: true do |form| %>
  <% @route.errors.full_messages.each do |msg| %>
    <p class="bg-danger"><%= msg %></p>
  <% end %>
  <p>
    <%= form.label :starting_point %><br>
    <%= form.text_field :starting_point %>
  </p>
  <p>
    <%= form.label :end_point %><br>
    <%= form.text_field :end_point %>
  </p>

  <p>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </p>
<% end %>

<%= link_to 'Monthly stats by day', stats_path, class: 'btn btn-info' %>