<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-1">
      <table class="table table-striped" style="margin-top: 20px">
        <tr>
        <tr>
          <td class="text-right"><strong>Starting point:</strong></td>
          <td class="text-left"><%= @route.starting_point %></td>
        </tr>
        <tr>
          <td class="text-right"><strong>End point:</strong></td>
          <td class="text-left"><%= @route.end_point %></td>
        </tr>
        <tr>
          <td class="text-right"><strong>Distance:</strong></td>
          <td class="text-left"><%= @route.distance %></td>
        </tr>
        <tr>
          <td class="text-right"><strong>Date:</strong></td>
          <td class="text-left"><%= @route.date.strftime('%d.%m.%y') %></td>
        </tr>
        </tr>
      </table>

      <%= link_to 'Back to all routes', routes_path, class: 'btn btn-default' %>
      <%= link_to 'Add new route', new_route_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>