<% if @routes %>
  <h3>Stats for <%= @routes.first[:month] %></h3>

  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">

      <div class="bg-info" style="padding: 20px">This week you have walked <b><%= @weekly_stats %></b> kilometers.</div>

      <h4>Daily stats:</h4>

      <table class="table table-striped">
        <tr>
          <th>Day</th>
          <th>Distance Sum</th>
        </tr>
        <% @routes.each do |route| %>
          <tr class="text-left">
            <td><%= route[:date] %></td>
            <td><%= route[:distance] %></td>
          </tr>
        <% end %>
      </table>
<% else %>

  <div class="bg-info" style="padding: 20px">You have no routes yet.</div>
<% end %>

<%= link_to 'Add new route', new_route_path, class: 'btn btn-primary', style: 'margin-top: 20px' %>
</div>
</div>