<!DOCTYPE html>
<html>
<head>
  <title>Fitofit</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">FitoFit App</h1>

      <% if message = flash[:notice].presence %>
        <p class="bg-success"><%= message %></p>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>